<p class="notice">김기훈(st20181468)님이 참가하셨습니다.</p>
<div class="subject">
    <span class="material-icons"> info </span>
    <div>
        <h6>새로운 주제 등록</h6>
        <p>책에 대한 각자 소감을 말해볼까요? 자유롭게 대화해주세요.</p>
    </div>
</div>
<div class="my">
    <div class="space"></div>
    <div class="chat">데이터베이스 너무 어려워요...</div>
</div>
<div class="other">
    <div class="img"></div>
    <div class="chat">
        <p>전탁준</p>
        <span>저도 그렇게 생각해요 ㅠ</span>
    </div>
    <div class="space"></div>
</div>
<div class="other">
    <div class="img"></div>
    <div class="chat">
        <p>김현수</p>
        <span>저도 너무 어려워요 ㅠㅠㅠㅠㅠㅠ</span>
    </div>
    <div class="space"></div>
</div>
