<div id="button" class="container">
    <div class="title">
        Button
    </div>
    <div class="desc">
        버튼 컴포넌트입니다.
    </div>
    <div class="subtitle">
        기본 버튼
    </div>
    <div class="row-top">
        <div class="btn-s">
            작은 버튼
        </div>
        <div class="btn">
            기본 버튼
        </div>
        <div class="btn-l">
            큰 버튼
        </div>
    </div>
    <div class="row-top">
        <div class="btn-s btn-gray">
            작은 버튼
        </div>
        <div class="btn btn-gray">
            기본 버튼
        </div>
        <div class="btn-l btn-gray">
            큰 버튼
        </div>
    </div>
    <div class="subtitle">
        둥근 버튼
    </div>
    <div class="row-top">
        <div class="btn-s round">
            버튼
        </div>
        <div class="btn round">
            버튼
        </div>
        <div class="btn-l round">
            버튼
        </div>
    </div>
    <div class="row-top">
        <div class="btn-s round btn-gray">
            버튼
        </div>
        <div class="btn round btn-gray">
            버튼
        </div>
        <div class="btn-l round btn-gray">
            버튼
        </div>
    </div>
</div>