<style>
    .signin {
        width: 100vw;
        max-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .signin > .title {
        margin-bottom: 0.5rem;
        font-family: var(--fontBold);
        font-size: 2rem;
    }
    .signin > .subtitle {
        margin-bottom: 2rem;
        font-size: 1rem;
        color: var(--gray-500);
    }
    .signin > .data,
    .signin > .data > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .signin > .data > form > input[type="text"],
    .signin > .data > form > input[type="password"] {
        width: 90%;
        max-width: 280px;
        margin-bottom: 0.5rem;
        padding: 0.75rem;
        border: none;
        border-bottom: 1px solid var(--gray-300);
        font-size: 1rem;
        outline: none;
        transition: all 0.3s;
    }
    .signin > .data > form > input[type="text"]:focus,
    .signin > .data > form > input[type="password"]:focus {
        border-bottom: 2px solid var(--primary);
        font-size: 1.25rem;
        color: var(--primary);
    }
    .signin > .data > form > input[type="submit"] {
        width: 100%;
        padding: 0.75rem;
        background: var(--primary);
        border: none;
        border-radius: var(--border-radius-m);
        font-family: var(--fontBold);
        font-size: 1rem;
        color: var(--white);
        outline: none;
    }
    .signin > .link {
        line-height: 1rem;
        font-size: 0.875rem;
        color: var(--gray-500);
    }
    .signin > .link > a {
        text-decoration: underline;
    }
    .signin > .home {
        position: relative;
        width: 5vw;
        min-width: 3rem;
        height: 5vw;
        min-height: 3rem;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
    .signin > .home > span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 6vw;
        min-width: 4rem;
        height: 0.125rem;
        background: var(--gray-300);
        transition: all 0.3s;
    }
    .signin > .home > span:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .signin > .home > span:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .signin > .home:hover > span {
        background: var(--primary);
    }
</style>
<div class="signin">
    <div class="title">로그인</div>
    <div class="subtitle">#signin</div>
    <div class="data">
        <form action="/sign/signin" method="post">
            <input type="text" name="id" placeholder="아이디를 입력하세요." />
            <input
                type="password"
                name="pw"
                placeholder="비밀번호를 입력하세요."
            />
            <input type="submit" value="로그인" />
        </form>
    </div>
    <div class="link">
        아직 회원이 아니신가요? <a href="/sign/signup">회원가입</a>
    </div>
    <a class="home" href="/">
        <span></span>
        <span></span>
    </a>
</div>
