<div id="button" class="container">
    <div class="title">
        Text
    </div>
    <div class="desc">
        텍스트 컴포넌트입니다.
    </div>
    <div class="row full">
        <div class="col">
            <div class="subtitle">
                헤더
            </div>
            <div class="col">
                <h1>header1</h1>
                <h2>header2</h2>
                <h3>header3</h3>
                <h4>header4</h4>
                <h5>header5</h5>
                <h6>header6</h6>
            </div>
        </div>
        <div class="col">
            <div class="subtitle">
                본문
            </div>
            <div class="col">
                <h1>header1</h1>
                <h2>header2</h2>
                <h3>header3</h3>
                <h4>header4</h4>
                <h5>header5</h5>
                <h6>header6</h6>
            </div>
        </div>
    </div>
</div>