<div class="navbar">
    <div class="content">
        <a class="logo" href="/"> Best Friend </a>
        <div class="menu">
            <ul class="drop">
                <li>
                    <a href="/">도서</a>
                    <ul class="dropmenu">
                        <li><a href="#bestseller">베스트</a></li>
                        <li><a href="#">신간</a></li>
                        <li><a href="#">추천</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">메뉴</a>
                </li>
                <li>
                    <a href="#">메뉴</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <a class="btn-s" href="sign/signin">로그인</a>
            <a class="btn-s" href="sign/signup">회원가입</a>
        </div>
    </div>
</div>
