<div class="navbar">
    <div class="content">
        <div class="wrap">
            <a class="logo" href="/">더블공유시스템</a>
            <div class="menu">
                <a href="/">베스트</a>
                <span class="menudiv"></span>
                <a href="/">신상품</a>
                <span class="menudiv"></span>
                <a href="/study">스터디</a>
            </div>
        </div>

        <div class="item">
            <% if(!isLogined) { %>
            <a class="topbtn" href="/sign/signin"
                ><img src="/images/login.png" alt=""
            /></a>
            <a class="topbtn" href="/sign/signup"
                ><img src="/images/signup.png" alt=""
            /></a>
            <% } else { %>
            <a class="topbtn" href="/cart"
                ><img src="/images/cart.png" alt=""
            /></a>
            <a class="topbtn" href="/mypage"
                ><img src="/images/my.png" alt=""
            /></a>
            <a class="topbtn" href="/sign/signin"
                ><img src="/images/logout.png" alt=""
            /></a>
            <% } %>
            <a class="topbtn" href="/sign/signup"
                ><img src="/images/question.png" alt=""
            /></a>
        </div>
    </div>
</div>
