h5,
h6 {
    font-family: var(--fontBold);
}

.header {
    background: #f6f6f9;
    padding: 20px 58px;
    border-radius: 8px 8px 0px 0px;
}

.header>p {
    color: #666687;
}

.material-icons {
    font-size: 16px;
}

.header>.info {
    display: flex;
    flex-direction: row;
}

.header>.info>div {
    padding: 16px 28px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.header>.info>div>p {
    font-size: 8px;
    font-family: var(--fontBold);
}

.header>.info>div>span {
    font-size: 14px;
}


.header>.func {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--blue);
    font-family: var(--fontBold);
}

.header>.func button {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    background: var(--blue);
    color: var(--white);
    font-family: var(--fontBold);
}

.headermenu {
    display: flex;
    flex-direction: row;
    background: #f6f6f9;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.headermenu>.selitem,
.headermenu>.item {
    flex: 1;
    padding: 12px;
    text-align: center;
}

.headermenu>.selitem {
    font-family: var(--fontBold);
    color: var(--blue);
    background: var(--white);
    border-radius: 8px 8px 0 0;
    border: 1px solid #e7e9ed;
    border-bottom: none;
}

.headermenu>.item {
    border-bottom: 1px solid #e7e9ed;
    color: #8e8ea9;
}

.headermenu>.space {
    border-bottom: 1px solid #e7e9ed;
    flex: 1;
}

.roomlist {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.roomlist>.room {
    display: flex;
    flex-direction: column;
    width: 24%;
    max-width: 300px;
    height: 240px;
    background: var(--white);
    margin-bottom: 20px;
    border: 1px solid #EAEAEF;
    border-radius: 4px;
    overflow: hidden;
}

.roomlist>.room>.roominfo {
    padding: 16px;
}

.roomlist>.room>.roominfo>div {
    display: flex;
    flex-direction: row;
}

.roomlist>.room>.roominfo>div>div {
    margin-right: 16px;
}

.roomlist>.room>.roominfo>h6 {
    font-size: 20px;
}

.roomlist>.room>.roominfo p {
    font-family: var(--fontBold);
    font-size: 12px;
    color: #8E8EA9;
}

.roomlist>.room>.roominfo span {
    font-size: 16px;
}