@font-face {
    font-family: 'dotum';
    src: url('../font/dotum.ttf') format('truetype');
}

@font-face {
    font-family: 'dotumLight';
    src: url('../font/dotumLight.ttf') format('truetype');
}

@font-face {
    font-family: 'dotumBold';
    src: url('../font/dotumBold.ttf') format('truetype');
}

@font-face {
    font-family: 'batang';
    src: url('../font/batang.ttf') format('truetype');
}

@font-face {
    font-family: 'batangLight';
    src: url('../font/batangLight.ttf') format('truetype');
}

@font-face {
    font-family: 'batangBold';
    src: url('../font/batangBold.ttf') format('truetype');
}

:root {
    --pink: #d63384;
    --light-red: #F9D7DA;
    --red: #dc3545;
    --orange: #fd7e14;
    --light-yellow: #FFF3CD;
    --yellow: #ffc107;
    --light-green: #D1E7DE;
    --green: #198754;
    --teal: #20c997;
    --light-cyan: #CFF4FC;
    --cyan: #0dcaf0;
    --light-blue: #D0E2FF;
    --blue: #3592FF;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --black: #000;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --primary: #3592FF;
    --secondary: #3592FF;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #212529;
    --btn-left: #24C6DC;
    --btn-right: #514A9D;
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-l: 12px;
    --border-radius-xl: 16px;
    --max-width: 960px;
    --harf-max-width: 480px;
    --font: 'dotum';
    --fontLight: 'dotumLight';
    --fontBold: 'dotumBold';
    --z-drop: 300;
    --z-navbar: 1000;
    --z-sidebar: 1001;
    --z-popup: 1002;
    --z-modal: 1003;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    text-decoration: none;
    color: var(--black);
}

html {
    font-family: 'dotum';
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4rem;
    background-color: var(--white);
}

.page {
    margin: 40px 0;
    width: 100%;
    max-width: 1280px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 4rem 0 0 0;
    max-width: var(--max-width);
}

.container>.title {
    font-family: 'dotum';
    font-size: 2rem;
    color: var(--black);
}

.container>.subtitle {
    margin: 1rem 0;
    font-family: 'dotum';
    font-size: 1.25rem;
}

.container>.desc {
    font-family: 'dotumBold';
    font-size: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.row-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: var(--white);
    border-radius: 1px solid #999999;
    z-index: var(--z-navbar);
}

.navbar>.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
    width: 100%;
    max-width: 1280px;
}

.navbar>.content>.wrap {
    display: flex;
    align-items: center;
}


.navbar>.content>.wrap>.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    font-family: var(--fontBold);
    font-size: 2rem;
}

.navbar>.content>.wrap>.menu {
    margin-left: 16px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--fontBold);
    font-size: 1.25rem;
}

.navbar>.content>.wrap>.menu>a {
    padding: 24px;
}

.navbar>.content>.wrap>.menu>.menudiv {
    width: 1px;
    height: 28px;
    background: var(--black);
    display: block;
}


.navbar>.content>.item {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    font-family: var(--fontBold);
    font-size: large;
}

.btn {
    margin: .25rem;
    padding: .5rem 1rem;
    background: var(--black);
    border: none;
    border-radius: .25rem;
    color: white;
    text-align: center;
}

.btn-s {
    margin: .25rem;
    padding: .25rem .5rem;
    background: var(--black);
    border: none;
    border-radius: .25rem;
    color: white;
    text-align: center;
    font-size: small;
}

.btn-l {
    margin: .25rem;
    padding: 1rem;
    background: var(--black);
    border: none;
    border-radius: .25rem;
    color: var(--white);
    text-align: center;
    font-size: large;
}

.btn-b {
    margin: .25rem;
    padding: 1rem;
    background: var(--black);
    border: none;
    border-radius: 0 0 .25rem .25rem;
    color: var(--white);
    text-align: center;
    font-size: large;
}

.btn-gray {
    background: var(--gray-300);
    color: var(--black);
}

.btn:hover,
.btn-s:hover,
.btn-l:hover {
    font-family: var(--fontBold);
}

.btngroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .25rem;
    padding: .5rem 1rem;
    background: var(--black);
    border: none;
    border-radius: .25rem;
    color: white;
    font-size: medium;
}

.btngroup-s {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .25rem;
    padding: .25rem .5rem;
    background: var(--black);
    border: none;
    border-radius: .25rem;
    color: white;
    font-size: small;
}

.btngroup-l {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .25rem;
    padding: 1rem;
    background: var(--black);
    border: none;
    border-radius: .25rem;
    color: white;
    font-size: large;
}

.btngroup-gray {
    background: var(--gray-300);
    color: var(--black);
}

.btngroup>.subbtn,
.btngroup-s>.subbtn,
.btngroup-l>.subbtn {
    padding: 0 .5rem;
    text-align: center;
    color: var(--white);
}

.btngroup>.subbtn:hover,
.btngroup-s>.subbtn:hover,
.btngroup-l>.subbtn:hover {
    font-family: var(--fontBold);
}

.input {
    margin: .25rem;
    padding: .75rem;
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: .25rem;
    color: var(--black);
    outline: none;
}

.input-l {
    margin: .25rem;
    padding: .75rem 1rem;
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: .25rem;
    color: var(--black);
    font-size: large;
    outline: none;
}

.input:hover,
.input:focus {
    border: 1px solid var(--gray-800);
    color: var(--black);
    outline: none;
}

.input-icon {
    display: flex;
    align-items: center;
    margin: .25rem;
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: .25rem;
    color: var(--black);
    outline: none;
    overflow: hidden;
    transition: all .3s;
}

.input-icon>span {
    padding: .75rem;
    background: var(--black);
    border-right: 1px solid var(--gray-500);
    color: var(--white);
    font-size: 1rem;
}

.input-icon>.subinput {
    width: 100%;
    margin: 0;
    padding: 0 .5rem;
    border: none;
    outline: none;
}

.input-icon:focus-within {
    border: 2px solid var(--primary);
}

.input-date {
    display: flex;
    align-items: center;
    margin: .25rem;
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: .25rem;
    color: var(--black);
    outline: none;
    overflow: hidden;
}

.input-date>span {
    padding: .75rem;
    background: var(--black);
    border-right: 1px solid var(--gray-500);
    color: var(--white);
    font-size: 1rem;
}

.input-date>.date {
    display: flex;
    width: 100%;
}

.input-date>.date>.subinput {
    flex: 1;
    min-width: 4rem;
    margin: 0;
    padding: 0 .5rem;
    border: none;
    outline: none;
    text-align: center;
}

input[type="checkbox"] {
    display: block;
}

.chkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: .25rem;
}

.chkbox:hover {
    border: 1px solid var(--black);
}

input[id="exampleChkbox"]:checked+.chkbox[for="exampleChkbox"] {
    background: var(--black);
    border: 1px solid var(--black);
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: .5rem;
    background: var(--white);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .5rem 2rem var(--gray-300);
    overflow: hidden;
    transition: all .25s;
}

.card:hover {
    transform: translate(0, -.25rem);
    box-shadow: 0 .5rem 2rem var(--gray-500);
}

.card>.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.card>.top>.menu {
    color: var(--gray-500);
}

.card>.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25rem 1.5rem;
    font-size: 2rem;
    font-family: var(--fontBold);
}

.card>.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25rem 1.5rem;
    color: var(--gray-500);
    font-family: var(--font);
}

.card>.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25rem 1.5rem;
    font-size: 2rem;
    font-family: var(--fontBold);
}

.card>.tab>.item {
    width: 50%;
    text-align: center;
    border-bottom: .125rem solid var(--white);
}

.card>.tab>.item:hover {
    border-bottom: .125rem solid var(--black);
}

.card>.tab>.sel {
    border-bottom: .125rem solid var(--black);
}

.card>.error {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: .25rem 1.5rem;
    padding: .5rem 1rem;
    background-color: rgba(255, 0, 0, .1);
    border: 1px solid var(--red);
    border-radius: .25rem;
    color: var(--red);
}

.card>.error>span {
    margin-right: .5rem;
    font-size: 1rem;
}

.card>.desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: .25rem 1.5rem;
    color: var(--gray-800);
    font-family: var(--font);
    font-size: 1.125rem;
}

.card>.desc .label {
    margin-top: .5rem;
    width: 100%;
    font-size: .75rem;
    text-align: left;
}

.card>.bottom {
    display: flex;
    margin-top: .5rem;
    background: var(--gray-300);
    background-image: url('');
    background-size: cover;
}

.table {
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: .25rem;
    border-spacing: 0;
    overflow: hidden;
}

.table>thead>tr>th,
.table>tbody>tr>td {
    padding: .25rem .5rem;
}

.table>thead>tr>th {
    flex: 1;
    border-bottom: 1px solid var(--gray-300);

}

.table>tbody>tr>td {
    text-align: center;
}

.table>tbody>tr>td:nth-child(even) {
    background: var(--gray-100);
}

.drop:after {
    display: block;
    content: '';
    clear: both;
}

.drop>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.drop>li>a {
    flex: 1;
    display: block;
    flex-direction: row;
    justify-content: left;
    font-family: var(--fontBold);
    font-size: 1.25rem;
    color: var(--black);
}

.drop>li:hover .dropmenu {
    display: flex;
}

.drop .dropmenu {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 .5rem;
    width: fit-content;
    height: 2.5rem;
    background: var(--black);
    border-radius: 100rem;
    text-align: center;
    font-family: var(--font);
    font-size: medium;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: var(--z-drop);
}

.drop .dropmenu a {
    display: block;
    padding: 5px;
    min-width: 4rem;
    color: #fff;
}

.drop .dropmenu a:hover {
    font-family: var(--fontBold);
}

.tab {}

.tab-top>.menu {
    display: flex;
    flex-direction: row;
}

.tab-top>.menu>li {
    padding: .5rem 1.5rem;
    border-bottom: 1px solid var(--gray-500);
    font-family: var(--font);
    color: var(--gray-500);
}

.tab-top>.menu>li:last-child {
    flex: 1;
}

.tab-top>.menu>.sel {
    border: 1px solid var(--gray-500);
    border-bottom: none;
    border-radius: .25rem .25rem 0 0;
    font-family: var(--fontBold);
    color: var(--black);
}

.tab-top>.content {
    padding: 1.5rem;
    border: 1px solid var(--gray-500);
    border-top: none;
    border-radius: 0 0 .25rem .25rem;
}

.tab-bottom>.menu {
    display: flex;
    flex-direction: row;
}

.tab-bottom>.menu>li {
    padding: .5rem 1.5rem;
    border-top: 1px solid var(--gray-500);
    font-family: var(--font);
    color: var(--gray-500);
}

.tab-bottom>.menu>li:last-child {
    flex: 1;
}

.tab-bottom>.menu>.sel {
    border: 1px solid var(--gray-500);
    border-top: none;
    border-radius: 0 0 .25rem .25rem;
    font-family: var(--fontBold);
    color: var(--black);
}

.tab-bottom>.content {
    padding: 1.5rem;
    border: 1px solid var(--gray-500);
    border-bottom: none;
    border-radius: .25rem .25rem 0 0;
}

.tab-left {
    display: flex;
    flex-direction: row;
}

.tab-left>.menu {
    display: flex;
    flex-direction: column;
}

.tab-left>.menu>li {
    padding: .5rem 1.5rem;
    border-right: 1px solid var(--gray-500);
    font-family: var(--font);
    color: var(--gray-500);
}

.tab-left>.menu>li:last-child {
    flex: 1;
}

.tab-left>.menu>.sel {
    border: 1px solid var(--gray-500);
    border-right: none;
    border-radius: .25rem 0 0 .25rem;
    font-family: var(--fontBold);
    color: var(--black);
}

.tab-left>.content {
    padding: 1.5rem;
    border: 1px solid var(--gray-500);
    border-left: none;
    border-radius: 0 .25rem .25rem 0;
}

.tab-right {
    display: flex;
    flex-direction: row;
}

.tab-right>.menu {
    display: flex;
    flex-direction: column;
}

.tab-right>.menu>li {
    padding: .5rem 1.5rem;
    border-left: 1px solid var(--gray-500);
    font-family: var(--font);
    color: var(--gray-500);
}

.tab-right>.menu>li:last-child {
    flex: 1;
}

.tab-right>.menu>.sel {
    border: 1px solid var(--gray-500);
    border-left: none;
    border-radius: 0 .25rem .25rem 0;
    font-family: var(--fontBold);
    color: var(--black);
}

.tab-right>.content {
    padding: 1.5rem;
    border: 1px solid var(--gray-500);
    border-right: none;
    border-radius: .25rem 0 0 .25rem;
}

input[id="sidebar"] {
    display: none;
}

input[id="sidebar"]+ul {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .35s;
    text-align: right;
}

input[id="sidebar"]+ul>li {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: -1px;
}

input[id="sidebar"]+ul>li>a {
    display: block;
    width: auto;
    height: 50px;
    overflow: hidden;
    transition: all .35s;
}

input[id="sidebar"]+ul>li>label {
    display: block;
    cursor: pointer;
    width: auto;
    height: 50px;
    background: var(--black);
}

input[id="sidebar"]+ul>li:nth-child(1) label span {
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 30px;
    background: var(--white);
    transition: all .35s;
}

input[id="sidebar"]+ul>li:nth-child(1) label span:nth-child(1) {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

input[id="sidebar"]+ul>li:nth-child(1) label span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[id="sidebar"]+ul>li:nth-child(1) label span:nth-child(3) {
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

input[id="sidebar"]:checked+ul {
    z-index: var(--z-sidebar);
    right: 300px;
}

input[id="sidebar"]:checked+ul>li:nth-child(1) label {
    z-index: var(--z-sidebar);
    right: 300px;
}

input[id="sidebar"]:checked+ul>li:nth-child(1) label span:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

input[id="sidebar"]:checked+ul>li:nth-child(1) label span:nth-child(2) {
    opacity: 0;
}

input[id="sidebar"]:checked+ul>li:nth-child(1) label span:nth-child(3) {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

div[class="sidebar"] {
    width: 300px;
    height: 100%;
    background: var(--black);
    color: var(--white);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: var(--z-sidebar);
    transition: all .35s;
}

input[id="sidebar"]:checked+ul+div {
    right: 0;
}

.round {
    border-radius: 100rem;
}

.full {
    flex: 1;
    width: calc(100% - .5rem);
}

.mg-0 {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

.topbtn {
    margin: 0px 4px;
}

.recommendwrap {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.booklist {
    display: flex;
    flex-direction: row;
    width: 1920px;
    overflow: scroll;
}

.book {
    min-width: 240px;
    width: 240px;
    height: 320px;
    background: var(--gray-600);
    border-radius: 8px;
    margin-right: 20px;
}